<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:3000/blog">
      <img src="https://emrealtunbilek.com/wp-content/uploads/2016/10/apple-icon-72x72.png" width="112" height="28"></img>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
  

    <div class="navbar-end">
      <div class="navbar-item">
        <form action="/blog" method="post">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="search" placeholder="Arama Yapın">
            </div>
            <div class="control">
              <button class="button is-info" type="submit">
                Ara 
              </button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</nav>
